.nav{
    display: flex;
    height: 7.5vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav > a, nav button{
    margin: 0 25px;
}

.logo {
    height: 40px;
    margin-left: 7%;
}

.accountpill{
    margin-right: 3%;
    height: 30px;
    background-color: tomato;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    border: none;
    /* height: 30px; */
}